.body {
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0,0,0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    position: fixed;
}

.detailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 345px auto;
    width: 50%;
}

.detailContainer p{
    margin: 0;
}
.aux {
    /* position: relative; */
    display: flex;
    width: 90%;
    height: 90vh;
}

.aux1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 65%;
}
.image {
    margin: 0;
    padding: 0;
    width: 70%;
    animation: imageIN 1s linear 0s 1 normal forwards;
}   
@keyframes imageIN {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.pokeName {
    -webkit-text-stroke: 3px rgba(218, 185, 0, 0.89);
    font-family: 'Pokemon Solid', sans-serif;
    color: rgba(255, 230, 9, 0);
    font-weight: 400; 
    font-size: 90px;                                          
    margin: -80px auto;
    padding: 0;
    text-shadow: -10px 2px 10px rgba(218, 185, 0, 0.315);
    text-transform: capitalize;
    letter-spacing: 5px;
    -webkit-animation: title linear 2s infinite;
	animation: title linear 2s infinite;
}

@-webkit-keyframes title {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}
@keyframes title {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}

.data {
    display: flex;
    flex-direction: column-reverse;
    color: rgba(218, 185, 0, 0.747);
    font-size: 22px;    /* font-weight: bold; */
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
    /* margin-bottom: 5px; */
}

.span {
    font-size: 22px;
    font-weight: 100;
    color:rgb(255, 255, 255);
    text-decoration: overline;
}

.types {
    display: flex;
    flex-direction: column;
    color: rgba(245, 224, 39, 0.836);
    font-size: 17px;
    margin-top: 30px ;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
}


.type{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
}

.type1 {
    color: white;
    margin: 0;
    margin-bottom: 25px;
}
.type2 {
    color: white;
    margin: 0;
}
.typeicons{
    width: 130px;
}

.pokegif {
    width: 300px;
    height: 200px;
filter:contrast(150%) brightness(85%);
position: absolute;
right: 150px;
top: 140px;
}



.btnPokemon {
    position: absolute;
    bottom: 0;
    right: 575px;
    background: none;
    border: 1px solid rgba(218, 185, 0, 0.747);
    border-radius: 50px;
    font-weight: bold;
    color: rgba(218, 185, 0, 0.747);;
    padding:15px;
    margin-bottom: 40px;
}

.btnPokemon:hover{
    cursor: pointer;
    background: rgba(218, 185, 0, 0.63);;
    border: 2px solid rgba(218, 185, 0, 0.747);;
    color: rgba(255, 255, 255, 0.61);
}
