.container{
    position: relative;
  }
  
  .container .card{
    position: relative;
    width: 100%;
    height: 400px;
    background: #23232396;
    border-radius: 20px;
    /* border: 1px solid rgb(181,166,66); */
    overflow: hidden;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 217, 0, 0.26);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after{
    position: absolute;
    top: 30%;
    left: -30%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,25,0.05)
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%) 
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 200px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card:hover .contentBx{
    height: 180px;
  }
  
  .container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 10px;
  }
  h2{
    align-self: center;
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card:hover .contentBx {
    opacity: 1;
    visibility: visible;
  }
  
  .container .card .contentBx .size h3 .container .card .contentBx  h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }

  
  .container .card .contentBx a{
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid rgb(214, 195, 70);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin: 0;
  }
  
  .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.25s;
  }

  .card:hover a:hover{
    opacity: 1;
    transform: translateY(0px);
    border: 2px solid rgba(255, 217, 0, 0.322);
    background-color:rgba(255, 217, 0, 0.322);
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* transition-delay: 0.1s; */
  }
  
.types{
  color: white;
  font-weight: 200;
}
