.container {
    background: rgba(0, 0, 0, 0.76) url('../resources/fondo.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title {
    background: url('../resources/pokemon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content:space-evenly;
    height: 150px;
    margin-top: 10px;
    width: 100%;
}

.order_search {
    background-color: rgba(255, 0, 0, 0.329);
    border: 1px solid rgba(255, 255, 255, 0.616);
    /* border-radius: 25px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    padding: 5px;
    /* position:relative; */
}
.orders select {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    /* overflow: hidden; */
}

select:hover{
    cursor: pointer;
    color: rgb(214, 214, 214);
}
select:focus{
    color:black;
    background-color:transparent;
}
option {
    background-color:transparent;
}

.options {
    background-color: black;
    color:red;
}


.create {
    background: url('../resources/createBtn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 156px auto;
    /* color:white; */
}

.create:hover {
    transform: scale(1.1);
}

.orderSelect{
    background-color:transparent;
    border: none;
    font-weight: 600;
    color: white;
    /* border-bottom: 2px solid white; */
    padding: 5px;
}


.resetFilters{
    font-weight: 600;
    /* font-size: 20px; */
    color:white;
}
.resetFilters:hover{
    cursor: pointer;
    /* font-size: 20px; */
    color:blue;;
}

.cardsContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.pagination {
    margin: 30px auto;
    position: static;
}

